{% extends "layout.html" %}

{% block form %}
<form class="raceHash" method="POST">
  <p class="raceHash">
    {{form.start.label}} {{form.start}}
  </p>
  <p class="raceHash">
    {{form.end.label}} {{form.end}}
  </p>
  <p class="butt">
    <input class="goButt" type="submit" value="" />
  </p>
  <div>
    <p class="raceHash">{{count}}</p>
  </div>
</form>
{% endblock %}

{% block game %}
<div class="game">
  <div class="startHash">
    <p class="clicked">#{{start_header}}</p>
      <form class="flexy" method="get" action="{{ url_for('clicked_left') }}">
        {% for segment in list_l %}
          <input class="mega" type="submit" name="hashtag" value="#{{segment}}" label="#{{segment}}" />
        {% endfor %}
      </form>
  </div>
  <div class="finHash">
    <p class="clicked">#{{end_header}}</p>
      <form class="flexy" method="get" action="{{ url_for('clicked_right') }}">
        {% for segment in list_r %}
          <input class="mega" type="submit" name="hashtag" value="#{{segment}}" label="#{{segment}}" />
        {% endfor %}
      </form>
  </div>
</div>

{% endblock %}
