{% extends "layout.html" %}
{% block form %}
<form class="raceHash" method="POST">

  <p class="raceHash">
    {{form.start.label}}
    {{form.start}}
  </p>
  <!-- <input
      type="text"
      placeholder="Bananas"
      onfocus="this.placeholder = ''"
      onblur="this.placeholder = 'Bananas'"
    /> -->
  <p class="raceHash">
    {{form.end.label}}
    {{form.end}}
  </p>
  <!-- <input
      type="text"
      placeholder="EpSteInDidNtKiLLhImsElF"
      onfocus="this.placeholder = ''"
      onblur="this.placeholder = 'EpSteInDidNtKiLLhImsElF'"
    /> -->
  <p class="butt">
    <input class="goButt" type="submit" value="" />
  </p>
</form>
{% endblock %}

{% block game %}
<div class="game">
  <div class="startHash">
    <p class="clicked">{{start_header}}</p>
    <!-- {% for choice in start_list.choices %}
    <form action="/game">
    <input type="submit" name="{{choice}}" value="{{choice}}"><br>
    </form> -->
    <!-- {% endfor %} -->
    <div>
      <form>
      <ul value="{{start_list.option1[0]}}">{{start_list.option1}}</ul>
      <ul value="{{start_list.option2}}">{{start_list.option2}}</ul>
      <ul value="{{start_list.option3}}">{{start_list.option3}}</ul>
      <ul value="{{start_list.option4}}">{{start_list.option4}}</ul>
      <ul value="{{start_list.option5}}">{{start_list.option5}}</ul>
      </form>
    </div>
  </div>
  <div class="finHash">
    <p class="clicked">{{end_header}}</p>
    <!-- {% for choice in end_list.choices %}
    <form action="/game">
    <input type="submit" name="{{choice}}" value="{{choice}}"><br>
    </form>
    {% endfor %} -->

    <div>
      <ul>start_list.option1 </ul>
      <ul>start_list.option2 </ul>
      <ul>start_list.option3 </ul>
      <ul>start_list.option4 </ul>
      <ul>start_list.option5 </ul>
    </div>
  </div>
</div>
{% endblock %}
