<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='Home.css') }}" />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:400,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <section>
      <img class="logo" src="{{ url_for('static', filename='logo.png') }}" />
      <div class="header">
        <p class="theRace">THE #RACE</p>
      </div>
      <div style="position: absolute; left: 350px; top: 175px">
        {{path}}
      </div>
      <div style="position: absolute; left:400px; top:200px">
        {{embedhtml | safe}}

      </div>
    </section>
  </body>
</html>
