<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='Home.css') }}" />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:400,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <section>
      <img class="logo" src="{{ url_for('static', filename='logo.png') }}" />
      <div class="header">
        <p class="theRace">THE #RACE</p>
      </div>
      <div class="page">
        <div class="params">
          <form class="raceHash" action="url">
            <p>
              {{form.start.label}}
              {{form.start}}
            </p>
            <!-- <input
              type="text"
              placeholder="Bananas"
              onfocus="this.placeholder = ''"
              onblur="this.placeholder = 'Bananas'"
            /> -->
            <p>
              {{form.end.label}}
              {{form.end}}
            </p>
            <!-- <input
              type="text"
              placeholder="EpSteInDidNtKiLLhImsElF"
              onfocus="this.placeholder = ''"
              onblur="this.placeholder = 'EpSteInDidNtKiLLhImsElF'"
            /> -->
            <p>
              <input type="submit" value="GO">
            </p>
            
          </form>
        </div>
        <div class="game"></div>
        <div class="info"></div>
      </div>
    </section>
  </body>
</html>
