<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='Home.css') }}" />
  </head>
  <body>
    <section>
      <img class="logo" src="{{ url_for('static', filename='logo.png') }}" />
      <div class="header">
        <p class="theRace">THE #RACE</p>
      </div>
      <div class="page">
        <div class="params">
          <form class="raceHash">
            <p class="raceHash">
              {{form.start.label}} {{form.start}}
            </p>
            <!-- <input
              type="text"
              placeholder="Bananas"
              onfocus="this.placeholder = ''"
              onblur="this.placeholder = 'Bananas'"
            /> -->
            <p class="raceHash">
              {{form.end.label}} {{form.end}}
            </p>
            <!-- <input
              type="text"
              placeholder="EpSteInDidNtKiLLhImsElF"
              onfocus="this.placeholder = ''"
              onblur="this.placeholder = 'EpSteInDidNtKiLLhImsElF'"
            /> -->
            <p class="butt">
              <input class="goButt" type="submit" value="" />
            </p>
          </form>
        </div>
        <div class="resultz"></div>
        <!-- <div class="game">
          <div class="startHash">
            <p class="clicked">#Bananas</p>
            <form class="flexy">
              <input type="button" value="#FriedBanana" />
              <input type="button" value="#FriedBanana" />
              <input type="button" value="#FriedBanana" />
              <input type="button" value="#FriedBanana" />
              <input type="button" value="#FriedBanana" />
            </form>
          </div>
          <div class="finHash">
            <p class="clicked">#Apples</p>
            <form class="flexy">
              <input type="button" value="#ApplePie" />
              <input type="button" value="#ApplePie" />
              <input type="button" value="#ApplePie" />
              <input type="button" value="#ApplePie" />
              <input type="button" value="#ApplePie" />
            </form>
          </div>
        </div> -->
        <div class="info"></div>
      </div>
    </section>
  </body>
</html>
